{% extends 'snakeGame/base_generic.html' %}

{% block top %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}

  <title>Gameplay</title>

  <link rel="stylesheet" type="{% static 'snakeGame/text/css' %}" href="style.css">

  <script src="{% static 'snakeGame/libraries/p5.min.js' %}"></script>
  <script src="{% static 'snakeGame/libraries/p5.sound.min.js' %}"></script>
{% endblock %}

{% block content %}
    <script src="{% static 'snakeGame/sketch.js' %}"></script>
    <script src="{% static 'snakeGame/objects.js' %}"></script>
    <h1>Gameplay</h1>
{% endblock %}

